.heroimage{
    display: flex;
    justify-content: end;
}

.heroimage img{
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
    width: 96%;
    min-height: auto;
    border: solid 10px #302e2d;
   
}